{% extends 'main/base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

    <div class="card-columns">
        {% for n in user.note.all %}
            <div class="card">
                <a href="/{{n.id}}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="card-body">
                        <h5 class="card-title">{{n.title}}</h5>
                        <p class="card-text">
                            {% if n.text == "" %}
                                <small> The note is empty!</small>
                            {% else %}
                                {{n.text}}
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            updated: {{n.last_update}}
                        </small>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>



{% endblock %}